{% extends 'base.html.twig' %}






{% block content %}
    <div class="checkout">
        <div class="container" style="padding-top: 20rem">
            <div class="row" style="display: flex; justify-content: center; align-items: center">

                <!-- Billing Info -->
                <div class="col-lg-6" style="background-color: white; box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03); padding: 3rem">
                    {{ form_start(edit_form) }}
                    <form action="#">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">cin</label>
                            {{ form_widget(edit_form.cin,{'attr':{'type':'text','class':'form-control','placeholder':'libelle ...'}}) }}
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput2">num</label>
                            {{ form_widget(edit_form.numtel,{'attr':{'type':'text','class':'form-control','placeholder':'libelle ...'}}) }}
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput3">matricule</label>
                            {{ form_widget(edit_form.matriculevoiture,{'attr':{'type':'text','class':'form-control','placeholder':'libelle ...'}}) }}
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput4">assurance</label>
                            {{ form_widget(edit_form.assurance ) }}
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput5">entretien</label>
                            {{ form_widget(edit_form.entretien ) }}
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput6">image</label>
                            {{ form_widget(edit_form.imagev) }}
                        </div>
                        <a href="{{ path('livreur_edit',{'id':livreur.id}) }}"><div class="btn btn-primary" >Modifier</div></a>
                        {{ form_end(edit_form) }}
                    </form>

                </div>
             </div>


            </div>
        </div>
    </div>

{% endblock %}
