{% extends 'baseback.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href={{  asset('front/styles/bootstrap4/bootstrap.min.css')}}>
    <link rel="stylesheet" type="text/css" href={{ asset('front/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}  >
{% endblock %}

{% block content %}
    <a href="{{ path('panier_responsable_select')}}" class="btn btn-success" style="float : right;margin-right: 55px">
        Consulter votre panier
    </a>

    <div class="row" style="padding-left: 12%; margin: 0px; margin-bottom: 378px">
        <h4 style="color: blue">Sort :</h4>
        <div class="btn btn-success"  >{{ knp_pagination_sortable(pagination, 'lib' , 'lib')}}</div>
        <div class="btn btn-success" >{{ knp_pagination_sortable(pagination, 'PrixAchat' , 'prixachat')}}</div>
        <div class="btn btn-success" >{{ knp_pagination_sortable(pagination, 'PrixVente' , 'prixvente')}}</div>
        <div class="col-md-12" >
                {%  for produit in pagination %}
                    <div class="col-md-3" style="box-shadow: 0 2px 8px 0 #00000047; border-radius: 5px; padding: 0px; margin: 1rem; background-color: white; width: 23%">
                        <div class="productContainer">
                            <img src="{{ asset('uploads/images/') }}{{ produit.nomImage  }}" alt="Product" class="image">
                            <div class="overlayAdd">
                                <div class="text">
                                    <a href="{{ path('panier_responsable_add',{'id':produit.id })}}" >
                                    <i class="fa fa-cart-plus fa-2x" aria-hidden="true" style="margin-bottom: 1rem"></i>
                                        <br/>
                                     Ajouter au panier</a>
                                </div>
                            </div>
                        </div>

                        <div class="p-3" style="padding: 1rem">
                            <h4><a href="#">{{ produit.lib }}</a></h4>
                            <h6>{{ produit.description }}</h6>
                            <div class="product_price" >${{ produit.prixachat }}</div>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>

{% endblock %}