{% extends 'base.html.twig' %}
{% block content %}



    <section style="background: #EAEAEA" id="main-content">

    <section class="wrapper">
        <div class="home_background"><img src="{{ asset('front/images/2.jpg')}}" ></div>
        <marquee id="titre"> Bienvenu sur notre Site  </marquee>

        <section style="background: #EAEAEA" id="main-content">

            <section class="wrapper">
                <h3><i class="fa fa-angle-right"></i> Liste de Produits </h3>


                <div style="width:90%;margin-left:5%;margin-bottom: 23%" class="row mb">
                    <!-- page start-->
                    <div style="background: #4ecdc4" class="content-panel">
                        <div class="adv-table">
                            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">

                            <thead>
                                <th class="column1"> Id categorie </th>
                                <th class="column1"> Id </th>
                                <th class="column2">libellé</th>
                                <th class="column3">Prix Vente</th>
                                <th class="column4">Prix Achat </th>
                                <th class="column5">Disponibilité</th>
                                <th class="column6">Description</th>
                                <th class="column7">Image </th>
                                </thead>

                                <tbody>


                                {% for c in Produit  %}
                                <tr >
                                    <td> {{ c.idcategorie  }} </td>
                                    <td> {{ c.Id  }} </td>

                                    <td> {{ c.lib  }} </td>


                                    <td> {{ c.prixvente  }}> </td>

                                    <td> {{ c.prixachat }}  </td>

                                    <td> {{ c.disponibilite }}  </td>

                                    <td> {{ c.description }}  </td>

                                    <td> {{ c.image }}  </td>

                                    <td>
                                        <div class="compose-btn">
                                            <ul>
                                                <li>
                                                    <button class="btn btn-theme02"><i class="fa fa-angle-right"></i> <a href="{{ path('Produit_supprimer', {'id':c.id }) }}">Supprimer</a></button>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="compose-btn">
                                            <ul>
                                                <li>
                                                    <button class="btn btn-theme02"><i class="fa fa-angle-right"></i> <a href="{{ path('Produit_update', {"id":c.id }) }}">Modifier</a></button>
                                                </li>
                                            </ul>
                                        </div>


                                    </td>
                                    {% endfor %}
                                </tr>
                                </tbody>

                            </table>
                            </table>

                            <ul>
                                <li>
                                    <button class="btn btn-round btn-success"><i class="fa fa-check"></i><a href="{{ path('Produit_ajout') }}">Create a new produit</a></i></button>
                                </li>
                            </ul>
            </section>
        </section>




    </section>
</section>
{% endblock %}
