{% extends 'base.html.twig' %}

{% block content %}
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper site-min-height">
            <!-- page start-->
            <div class="chat-room mt">
                <aside class="mid-side">
                    <div class="chat-room-head">
                        <h3>Chat Room: Support</h3>
                        <form action="#" class="pull-right position">
                            <input type="text" placeholder="Search" class="form-control search-btn ">
                        </form>
                    </div>
                    <table class="table">
                        <div class="group-rom">
                            <div class="first-part odd" style="color: crimson;"><b>Contenu de votre réclamation : </b> </div>
                            <div class="second-part" style="color: crimson;" > <b>{{ reclamation.contenu }}</b></div>
                            <div class="third-part" style="color: crimson;"><b>{{ reclamation.date|date }}</b></div>
                        </div>
                        <div class="group-rom">
                            <div class="first-part odd" style="color: black"><b>Votre Question : </b></div>
                            <div class="second-part" style="color: black"><b> {{ q.contenu  }} </b></div>
                            <div class="third-part" style="color: black"><b>{{ reclamation.date|date }}</b></div>
                        </div>
                        <div class="group-rom">
                           {# <div class="first-part odd">Responsable :   {{ reclamation.idresponsable.prenom }} {{ reclamation.idresponsable.nom }}</div>#}
                            <div class="first-part odd" style="color: black"><b>Réponse à votre question :</b> </div>
                                <div class="second-part" style="color: black;">
                                <b>
                                    {% if rep.contenu == "false" %}
                                        En cours d'execution
                                    {% else %}
                                        {{ rep.contenu  }}
                                    {% endif %}
                                </b>
                            </div>
                            <div class="third-part" style="color: black;"><b>{{ reclamation.date|date }}</b></div>
                        </div>

                        </table>
                    <footer>
                        {{ form_start(form) }}
                        <div class="col-xs-8">
                            <i class="fa fa-comments" aria-hidden="true"  ></i>
                            <a > Your message : <textarea style="width: 500px;" class=" border-color-4"{{ form_widget(form.contenu) }}</textarea></a>
                        </div>
                        <button class="btn btn-theme" value="Send"> Send</button>
                        {{ form_end(form) }}
                    </footer>
                </aside>
                <aside class="right-side">
                    <div class="user-head">  </div>
                    <div class="invite-row">
                        <h4 class="pull-left" style="color: black;"><b>{{ client.iduser.username }}</b></h4>
                        <a href="{{ path('vente_all') }}" class="btn btn-theme04 pull-right">Home</a>
                    </div>
                    <ul class="chat-available-user">

                    </ul></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
                </aside>
            </div>
            <!-- page end-->
        </section>
        <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->

</body></html>
{% endblock %}
{% block javascripts %}

{% endblock %}