{% extends 'baseback.html.twig' %}
{% block content %}
<!--navbar notification-->

    <!--header start-->
    <header class="header black-bg">

        <!--logo start-->
        <a href="index.html" class="logo"><b>PIM<span>IX</span></b></a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
            <ul class="nav top-menu">
                <!-- settings start -->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                        <i class="fa fa-tasks"></i>
                        <span class="badge bg-theme">4</span>
                    </a>
                    <ul class="dropdown-menu extended tasks-bar">
                        <div class="notify-arrow notify-arrow-green"></div>
                        <li>
                            <p class="green">You have 4 pending tasks</p>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="task-info">
                                    <div class="desc">PIMIX</div>
                                    <div class="percent">40%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="task-info">
                                    <div class="desc">Database Update</div>
                                    <div class="percent">60%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="task-info">
                                    <div class="desc">Product Development</div>
                                    <div class="percent">80%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="task-info">
                                    <div class="desc">Payments Sent</div>
                                    <div class="percent">70%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                        <span class="sr-only">70% Complete (Important)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="external">
                            <a href="#">See All Tasks</a>
                        </li>
                    </ul>
                </li>
                <!-- settings end -->
                <!-- inbox dropdown start-->
                <li id="header_inbox_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-theme">5</span>
                    </a>
                    <ul class="dropdown-menu extended inbox">
                        <div class="notify-arrow notify-arrow-green"></div>
                        <li>
                            <p class="green">You have 5 new messages</p>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="photo"><img alt="avatar" src="{{ asset('Vente_back/img/ui-zac.jpg')}}"></span>
                                <span class="subject">
                  <span class="from">Zac Snider</span>
                  <span class="time">Just now</span>
                  </span>
                                <span class="message">
                  Hi mate, how is everything?
                  </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="photo"><img alt="avatar" src="{{ asset('Vente_back/img/ui-divya.jpg')}}"></span>
                                <span class="subject">
                  <span class="from">Divya Manian</span>
                  <span class="time">40 mins.</span>
                  </span>
                                <span class="message">
                  Hi, I need your help with this.
                  </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="photo"><img alt="avatar" src="{{ asset('Vente_back/img/ui-danro.jpg')}}"></span>
                                <span class="subject">
                  <span class="from">Dan Rogers</span>
                  <span class="time">2 hrs.</span>
                  </span>
                                <span class="message">
                  Love your new Dashboard.
                  </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="photo"><img alt="avatar" src="{{ asset('Vente_back/img/ui-sherman.jpg')}}"></span>
                                <span class="subject">
                  <span class="from">Dj Sherman</span>
                  <span class="time">4 hrs.</span>
                  </span>
                                <span class="message">
                  Please, answer asap.
                  </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">See all messages</a>
                        </li>
                    </ul>
                </li>
                <!-- inbox dropdown end -->
                <!-- notification dropdown start-->
                <li id="header_notification_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                        <i class="fa fa-bell-o"></i>
                        <span class="badge bg-warning">7</span>
                    </a>
                    <ul class="dropdown-menu extended notification">
                        <div class="notify-arrow notify-arrow-yellow"></div>
                        <li>
                            <p class="yellow">You have 7 new notifications</p>
                        </li>
                        <tr>
                           </td>
                            <td class="column2"></td>
                            <td class="column3"></td>
                            <td class="column4"></td>

                            <td class="column5"></td>
                            <td class="column6">
                            </td>
                        </tr>
                        {% for notif in notif %}<td class="column1">
                        <li>
                            <a href="index.html#">
                                <span class="label label-danger"><i class="fa fa-bell"></i></span>
                                {{ notif.description }}
                                <span class="small italic">{{ notif.date | date  }}</span>
                            </a>
                        </li>{% endfor %}

                    </ul>
                </li>
                <!-- notification dropdown end -->
            </ul>
            <!--  notification end -->
        </div>

    </header>
    <!--header end-->



    <!-- ***********************-->
    <div class="limiter" style="left: 200px;">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    <table style="width:1000px;">
                        <div class="form" style="margin-top: 0px; color: black; left: 100px;">
                            {{ form_start(form) }}
                            <div class="col-xl-6">
                                Motif:{{ form_widget(form.motif) }}
                            </div>

                        </div>
                        <button class="btn-primary btn" type="submit" style="right: 250px;color: black;">recherche</button>
                        {{ form_widget(form) }}
                        <thead>
                        <tr class="table100-head">
                            <th class="column1">Date</th>
                            <th class="column2">Motif</th>
                            <th class="column3">Message</th>
                            <th class="column4">Client </th>
                            <th class="column5">Répondre/Modifier</th>
                            <th class="column6">Action </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for p in reclamations %}
                            <td class="column1">{{ p.date|date }}</td>
                            <td class="column2">{{ p.motif }}</td>
                            <td class="column3">{{ p.contenu }}</td>
                            <td class="column4"><a href="client.html">client profile(à faire)</a></td>
                            <td class="column5"><a href="{{ path('vente_edit',{'id':p.id}) }}) }}">Répondre/Modifier </a></td>
                            <td class="column6"><a href="{{ path('vente_delete',{'id':p.id}) }}) }}">Supprimer</a>
                                                <a href="{{ path('vente_chat',{'id':p.id}) }}) }}">chat</a>
                            </td>
                        </tr>

                        {% endfor %}

{#
                         <tr>
                            {% for notif in notif %}<td class="column1">{{ notif.description }}</td>
                            <td class="column2"></td>
                            <td class="column3"></td>
                            <td class="column4"></td>

                            <td class="column5"></td>
                            <td class="column6">
                            </td>
                        </tr>{% endfor %}


                        <tr>
                            <td class="column1">2017-09-29 01:22</td>
                            <td class="column2">S</td>
                            <td class="column3">sdsdsds</td>
                            <td class="column4"><a href="client.html">wajdi</td>
                            <td class="column5">1</td>
                            <td class="column6"><a href="client.html">hh</td>
                        </tr>
#}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



