{% extends 'baseback.html.twig' %}
{% block content %}
    <!--navbar notification-->

    <!--header start-->
    <header class="header black-bg">

        <!--logo start-->
        <a href="index.html" class="logo"><b>PIM<span>IX</span></b></a>

        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
            <ul class="nav top-menu">
                <!-- settings start -->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                        <i class="fa fa-tasks"></i>
                        <span class="badge bg-theme">4</span>
                    </a>
                    <ul class="dropdown-menu extended tasks-bar">
                        <div class="notify-arrow notify-arrow-green"></div>
                        <li>
                            <p class="green">You have 4 pending tasks</p>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="task-info">
                                    <div class="desc">PIMIX</div>
                                    <div class="percent">40%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="task-info">
                                    <div class="desc">Database Update</div>
                                    <div class="percent">60%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="task-info">
                                    <div class="desc">Product Development</div>
                                    <div class="percent">80%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="task-info">
                                    <div class="desc">Payments Sent</div>
                                    <div class="percent">70%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                        <span class="sr-only">70% Complete (Important)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="external">
                            <a href="#">See All Tasks</a>
                        </li>
                    </ul>
                </li>
                <!-- settings end -->
                <!-- inbox dropdown start-->
                <li id="header_inbox_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-theme">5</span>
                    </a>
                    <ul class="dropdown-menu extended inbox">
                        <div class="notify-arrow notify-arrow-green"></div>
                        <li>
                            <p class="green">You have 5 new messages</p>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="photo"><img alt="avatar" src="{{ asset('Vente_back/img/ui-zac.jpg')}}"></span>
                                <span class="subject">
                  <span class="from">Zac Snider</span>
                  <span class="time">Just now</span>
                  </span>
                                <span class="message">
                  Hi mate, how is everything?
                  </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="photo"><img alt="avatar" src="{{ asset('Vente_back/img/ui-divya.jpg')}}"></span>
                                <span class="subject">
                  <span class="from">Divya Manian</span>
                  <span class="time">40 mins.</span>
                  </span>
                                <span class="message">
                  Hi, I need your help with this.
                  </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="photo"><img alt="avatar" src="{{ asset('Vente_back/img/ui-danro.jpg')}}"></span>
                                <span class="subject">
                  <span class="from">Dan Rogers</span>
                  <span class="time">2 hrs.</span>
                  </span>
                                <span class="message">
                  Love your new Dashboard.
                  </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="photo"><img alt="avatar" src="{{ asset('Vente_back/img/ui-sherman.jpg')}}"></span>
                                <span class="subject">
                  <span class="from">Dj Sherman</span>
                  <span class="time">4 hrs.</span>
                  </span>
                                <span class="message">
                  Please, answer asap.
                  </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">See all messages</a>
                        </li>
                    </ul>
                </li>
                <!-- inbox dropdown end -->
                <!-- notification dropdown start-->
                <li id="header_notification_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                        <i class="fa fa-bell-o"></i>
                        <span class="badge bg-warning">{{ cou }}</span>
                    </a>
                    <ul class="dropdown-menu extended notification">
                        <div class="notify-arrow notify-arrow-yellow"></div>
                        <li>
                            <p class="yellow">You have {{ cou }} new notifications <span class="small italic">
                                    <a href="{{ path('vente_notifdeleteall') }}" >
                                <img style="width:20px;height:20px;left: 150px;"  src="{{ asset('back/img/read.png')}}" >MarkAsRead
                                    </a></span></p>
                        </li>

                        {% for notif in notif %}<td class="column1">
                            <li style="display: flex; flex-direction: row; justify-content: center; align-items: center">
                                <a href="index.html#">
                                    <div>
                                        <div class="label label-danger"><i class="fa fa-bell"></i></div>
                                        {{ notif.description }}
                                    </div>
                                    <div class="small italic">{{ notif.date | date  }}</div>

                                </a>
                                <a href="{{ path('vente_notifdelete',{'id':notif.id}) }}" >
                                    <img style="width:20px;height:20px;left: 150px;"  src="{{ asset('back/img/delete.png')}}">
                                </a>
                            </li>

                            {% endfor %}

                    </ul>
                </li>
                <!-- notification dropdown end -->
            </ul>
            <!--  notification end -->
        </div>

    </header>

    <!--header end-->



    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

        <div class="row" style="margin: 0">


            <div class="col-md-12" style="margin-top: 10rem; margin-bottom: 10rem; padding-left: 11%; padding-right: 1%">
                <div style="background-color: white; padding: 3rem; box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03); border-radius: 5px">
                <h4>List Réclamtion</h4>
                    <hr>
                <div class="table-responsive">


                    <table id="mytable" class="table table-bordred table-striped">
                        <div class="form" style="margin-top: 0px; color: black; right: -100px;">
                            {{ form_start(form) }}
                            <div class="col-xl-6" >
                                Motif:{{ form_widget(form.motif) }}
                            </div>
                        </div>
                        <button class="btn-primary btn" type="submit" style="left: 250px;color: black;">Recherche</button>
                        {{ form_widget(form) }}
                        <thead>
                        <th>Date</th>
                        <th>Motif</th>
                        <th>Message</th>
                        <th>Etat </th>
                        <th>Répondre/Modifier</th>
                        <th>Chat</th>
                        <th>Delete</th>
                        </thead>
                        <tbody>
                        <tr>
                            {% for p in recherche %}
                            <td >{{ p.date|date }}</td>
                            <td >{{ p.motif }}</td>
                            <td>{{ p.contenu }}</td>
                            <td ><p>Etat</p></td>
                            <td ><a href="{{ path('vente_edit',{'id':p.id}) }}) }}" style="color: black;"><div class="btn-primary btn" >Répondre/Modifier</div></a> </td>
                            <td >
                                <a href="{{ path('vente_chat',{'id':p.id}) }}) }}"><div class="btn-info btn">CHAT</div></a>

                            </td>
                            <td><a href="{{ path('vente_delete',{'id':p.id}) }}) }}"><div class="btn-danger btn" >Supprimer</div> </a></td>
                        </tr>

                        {% endfor %}
                        </tbody>

                    </table>


            </div>
        </div>
            </div>
    </div>
     </div>
        <!-- /.modal-dialog -->



    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>





<!--

    <div class="limiter" style="left: 200px;">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">

                    <table style="width:1000px;">
                        <div class="form" style="margin-top: -150px; color: black; left: 100px;">
                            {{ form_start(form) }}
                            <div class="col-xl-6" >
                                Motif:{{ form_widget(form.motif) }}
                            </div>
                        </div>
                        <button class="btn-primary btn" type="submit" style="left: 250px;color: black;">Recherche</button>
                        {{ form_widget(form) }}
                        <thead>
                        <tr class="table100-head">
                            <th class="column1">Date</th>
                            <th class="column2">Motif</th>
                            <th class="column3">Message</th>
                            <th class="column4">Client </th>
                            <th class="column5">Répondre/Modifier</th>
                            <th class="column6">Action </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for p in recherche %}
                            <td class="column1">{{ p.date|date }}</td>
                            <td class="column2">{{ p.motif }}</td>
                            <td class="column3">{{ p.contenu }}</td>
                            <td class="column4"><a href="client.html">client profile(à faire)</a></td>
                            <td class="column5"><button class="btn-primary btn" ><a href="{{ path('vente_edit',{'id':p.id}) }}) }}" style="color: black;">Répondre/Modifier</a></button> </td>
                            <td class="column6">
                                <a href="{{ path('vente_chat',{'id':p.id}) }}) }}">CHAT</a>
                                <a>||</a>
                                <a href="{{ path('vente_delete',{'id':p.id}) }}) }}">Supprimer</a>
                            </td>
                        </tr>

                        {% endfor %}
                        {#
                                                <tr>
                                                    <td class="column1">2017-09-29 01:22</td>
                                                    <td class="column2">S</td>
                                                    <td class="column3">sdsdsds</td>
                                                    <td class="column4"><a href="client.html">wajdi</td>
                                                    <td class="column5">1</td>
                                                    <td class="column6"><a href="client.html">hh</td>
                                                </tr>
                        #}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
-->
{% endblock %}



